python==3.8.18
numpy==1.21.6
torch==1.13.1+cu118
opencv-python==4.7.0.72
Pillow==9.5.0
matplotlib==3.5.3
realesrgan==0.3.0
zoedepth==0.3.0
gaussian-splatting @ git+https://github.com/graphdeco-inria/gaussian-splatting.git@v0.1.0
tqdm==4.64.1